<div class="container">
  <h1>My Bookings!</h1>

  <ul>
    <% @bookings.each do |bk| %>
    <% end %>
  </ul>

src="http://res.cloudinary.com/dyr22jlmp/image/upload/c_fill,h_200,w_300/z39d2odnfqpfew0lwtplt2ukhxpd"

</div>
