  .booking-card{
    list-style-type: none;

    background-color: whitesmoke;


    border-radius: 8px;

    box-shadow: 0 0 1px black;

    padding: 16px;

    /* line-height: 1px; */

    display: inline-block;

    width: 900px;

    margin-top: 24px;

    transition: 1s;
    color: black;



  }
