<ul>
  <%  @shoes.each do |shoe| %>
  <li>
    <h4><%=  shoe.title %></h4>
    <p><%= shoe.description %></p>
    <p><%= cl_image_tag shoe.photo.key, height: 200, width: 300, crop: :fill %></p>
  </li>
  <% end %>
</ul>
